.clear{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    height: 100px;
    margin: 4px;
    user-select: none;
    cursor: pointer;
}

.clear:hover{
    color:aqua;
    background-color: rgb(219, 99, 99);
}
